.category-wrapper {
  font-size: var(--font-sm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: start;

  & p {
    color: var(--color-text-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    background-color: var(--color-bg-secondary);
    padding-block: 0.1875rem;
    padding-inline: 0.5rem;
    border-radius: var(--radius-xs);
  }

  @media screen and (width >= 48rem) {
    grid-template-columns: repeat(4, minmax(100px, 120px));
  }
}
