:root {
  /* font-color */
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #888888;

  /* bg-color */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f8f8f8;
  --color-bg-tertiary: #dddddd;

  /* border-color */
  --color-border: #cccccc;

  /* brand-color */
  --color-primary: #48a0f8;
  --color-secondary: #2a8ae2;
  --color-tertiary: #1b70bb;

  /* font-size */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.625rem;
  --font-2xl: 1.875rem;
  --font-3xl: 2.5rem;

  /* space */
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-sm: 0.75rem;
  --space-ms: 1.125rem;
  --space-md: 1.375rem;
  --space-ml: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;
  --space-2xl: 3.5rem;
  --space-3xl: 4rem;
  --space-4xl: 5rem;
  --space-5xl: 6rem;
  --space-6xl: 8rem;
  --space-7xl: 10rem;

  /* radius */
  --radius-xs: 0.75rem;
  --radius-s: 1rem;
  --radius-sm: 1.25rem;
  --radius-md: 1.5rem;
  --radius-lg: 2rem;
  --radius-xl: 4rem;
  --radius-full: 624.9375rem;
}

@media screen and (width >= 48rem) {
  :root {
    /* font-size */
    --font-lg: 1.375rem;
    --font-xl: 1.8rem;
    --font-2xl: 2.25rem;
    --font-3xl: 3rem;

    /* space */
    --space-s: 0.75rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-ml: 2.25rem;
    --space-lg: 3rem;
    --space-xl: 4rem;
    --space-2xl: 5rem;

    /* radius */
    --radius-lg: 2.25rem;
    --radius-xl: 5rem;
  }
}

@media screen and (width >= 64rem) {
  :root {
    /* font-size */
    --font-xl: 2rem;
    --font-2xl: 2.75rem;
    --font-3xl: 4rem;
    --font-4xl: 5rem;
    --font-5xl: 6rem;

    /* space */
    --space-ml: 3rem;
    --space-lg: 4rem;
    --space-xl: 5rem;
    --space-2xl: 6rem;
    --space-3xl: 7rem;
    --space-4xl: 8rem;
    --space-5xl: 10rem;
    --space-6xl: 12rem;
    --space-7xl: 15rem;

    /* radius */
    --radius-xl: 6rem;
  }
}

[data-theme='dark'] {
  /* color */
  --color-text-primary: #fff;

  --color-bg-primary: #1a1a1a;
}
