.region-study-container {
  padding-block: var(--space-ml);
}

.region-study-header {
  margin-block-end: 0.625rem;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  gap: 0.9375rem;

  & h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--color-text-primary);

    & span {
      margin-left: 0.3125rem;
      font-size: var(--font-lg);
      word-break: keep-all;
    }
  }

  @media screen and (width >= 64rem) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
}

.study-sort {
  align-self: flex-end;
  text-align: end;
  padding: 0.1875rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: var(--font-sm);
}

.region-study-wrapper {
  inline-size: 100%;
}

.region-study-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
  justify-items: start;

  @media screen and (width >= 48rem) {
    grid-template-columns: minmax(18.75rem, 1fr) minmax(18.75rem, 1fr);
  }

  @media screen and (width >= 64rem) {
    grid-template-columns:
      minmax(21.875rem, 1fr) minmax(21.875rem, 1fr)
      minmax(21.875rem, 1fr) minmax(21.875rem, 1fr);
  }
}

.region-study-lists-item {
  position: relative;
  inline-size: 100%;
  border-radius: var(--radius-xs);
  box-shadow: 0 0.125rem 0.25rem #0000000d;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-0.3125rem);
    box-shadow: 0 0.25rem 0.5rem #0000001a;
  }

  & .study-card-delete-modal {
    z-index: 1000;
    padding: 0;
    position: absolute;
    top: 0.4375rem;
    right: 0.4375rem;
    background: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 50%;
    inline-size: 1.8rem;
    block-size: 1.8rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 5;
    transition:
      background 0.2s ease,
      transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      display: inline-block;
      inline-size: 100%;
      block-size: 100%;
      line-height: 1.6;
    }

    &:hover {
      background: var(--color-cancel);
      transform: scale(1.1);
    }
  }

  & a {
    text-decoration: none;
  }

  & .image-wrapper {
    inline-size: 100%;
    block-size: 12.5rem;
    position: relative;

    & .studybanner-img {
      border-top-right-radius: var(--radius-xs);
      border-top-left-radius: var(--radius-xs);
    }
  }

  .description-wrapper {
    padding-inline: 0.9375rem;
    padding-block: 0.9375rem;

    & h3 {
      font-size: var(--font-lg);
      color: var(--color-text-primary);
      display: flex;
      align-items: center;
      justify-content: space-between;

      & span {
        display: inline-block;
        inline-size: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    & p {
      font-size: var(--font-sm);
      color: var(--color-text-secondary);
      margin-block: 0.3125rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & .study-bookmark-btn {
      padding: 0;
      border: 0;
      transition: scale 0.2s ease-in-out;

      &:first-of-type {
        margin-inline-end: 0.3125rem;
      }

      &:hover {
        scale: 1.2;
      }
    }
  }
}

.image-wrapper {
  position: relative;
}

.study-delete-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: var(--radius-full);
  inline-size: 1.5rem;
  block-size: 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
  z-index: 5;
}

.study-delete-btn:hover {
  background: var(--color-cancel);
}
